<!-- <h1> SECONDS </h1> -->
<!--///// video grid //////-->
<!-- <header>
  <h2>seconds</h2>
</header> -->
<!-- <div id="input">
    <label for="title"></label>
    <input type="text" id="title" placeholder="title" autofocus>


</div> -->
<a href= <%=new_video_path%> class="record" >
<ul>
  <li> RECORD </li>
</ul>
</a>
<div class="about">
<h3>SECONDS</h3>
  Seconds is a small project that takes short 3 second videos using your device's web cam. The results are hilarious. When you're ready, click record, allow access to your camera, give your video a title and hit enter!
  <aside>
     X CLOSE
  </aside>
</div>
<!-- <a id="record" disabled>Stop Recording</button> -->
<div class="videos-container"><div class="grid-video"></div></div>
<div class="socialmedia">
  <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://seconds.herokuapp.com" data-via="rosskinner" data-lang="en">Tweet</a>
  <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fseconds.herokuapp.com&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=21&amp;appId=265218853682249" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;width:150px;" allowTransparency="true"></iframe>
</div>
<!-- <div class="sign-in"></div>
<div class="sign-up"></div>
<div class="signin-button">SIGN IN</div>
<div class="signup-button">SIGN UP</div> -->
<script id="videos-template" type="text/handlebars-template">
  <video class="videos" src="{{ video }}" autoplay loop>
  </video>
</script>

<script id="title-template" type="text/handlebars-template">
<h1> {{ title }}</h1>
</script>

<script id="signin-template" type="text/handlebars-template">

  <%= form_tag( new_user_session_path ) do %>
    <div><%= label_tag :email %><br />
    <%= email_field_tag :email, nil, autofocus: true %></div>

    <div><%= label_tag :password %><br />
      <%= password_field_tag :password, nil, autocomplete: "off" %></div>

    <div><%= submit_tag 'Sign In', class: 'submit' %></div>
  <% end %>

  <%= render "users/shared/links" %>

  <div class="close">CLOSE X</div>
</script>

<script id="signup-template" type="text/handlebars-template">
  <h2>Sign up</h2>

<%= form_tag( user_registration_path ) do %>

  <div><%= label_tag :email %><br />
    <%= email_field_tag :email, nil, autofocus: true %></div>

    <div><%= label_tag :password %><br />
      <%= password_field_tag :password, nil, autocomplete: "off" %></div>

  <div><%= label_tag :password_confirmation %><br />
    <%= password_field_tag :password_confirmation,nil, autocomplete: "off" %></div>

  <div><%= submit_tag 'Sign Up', class: 'submit' %></div>
<% end %>

<%= render "users/shared/links" %>
<div class="close">CLOSE X</div>
</script>

<!-- social media share -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>


